hr {
	width: 95%;
}

body {
	background: #FFFFFF;

	font: normal medium Verdana, Arial, sans-serif;
	color: #000000;

	/* can't just do a single margin because that makes margin-top = 0 */
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* the whole header, including picture and banner */
header {
	height: 200px;
}

/* the left part of the header -- for the picture */
#headerleft {
	float: left;
  width: 22.5%;
}

/* the right part of the header -- my name and contact */
#headerright {
	float: right;
	width: 75%;
	height: 200px;
	border-top: 3px solid #900000;
	border-right: 3px solid #900000;
}

/* force the margins for h */
h1,h2,h3,h4,h5,h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* name */
#my-name {
	color: #01835F;
}

/* "PhD student..." */
#my-description {
	color: #BF6900;
}

/* contact info */
#personalinfo {
	margin-left: 10%;
}

#contact td {
	width: 35%;
}

#menu {
	margin-top: 10px;
	/*margin-bottom: 50px;*/
}

#menu a {
	font-size: 1.25em;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
}

#menu a.active {
	color: rgba(191,105,0, 1);
}

#menu a:hover {
	/*color: rgba(191,105,0, 1);*/
	text-decoration: underline;
}

.menu-button {
	float: left;
	text-align: center;
	border-bottom: 3px solid #900000;
	border-left: 3px solid #900000;
}

#body {
	float: clear;
	padding-bottom: 10px;
	border-top: 3px solid #900000;
	border-right: 3px solid #900000;
}

#content {
	padding-right: 20px;
}
